@import "mixins";

* {
  box-sizing: border-box;
}

.comments {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.container {
  margin: 0 auto;

  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;

  &__title {
    @include title;
  }

  &__comment {
    @include text;

    padding: 10px;

    width: 100%;
  }

}

.button {
  @include text;

  cursor: pointer;

  &_form {
    padding: 10px 20px;

    background: transparent;
  }

  &_ection {
    border: none;
    background: transparent;

    font-size: 14px;
    color: rgb(69, 90, 158);
  }

  &_edit:hover {
    text-decoration: underline;
  }

  &_like {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.button:hover {
    border-color: rgb(69, 90, 158);
    color: rgb(69, 90, 158);
}

.list {
  padding: 0;

  &__item {
    margin-bottom: 50px;

    list-style-type: none;
  }
}

.comment {
  position: relative;

  &__name {
    @include title;
  }

  &__text {
    @include text;

    margin: 10px 0;

    &_edit {
      width: 100%;
      padding: 10px;
    }
  }

  &__data {
    @include text;

    font-size: 14px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__like {
    @include text;

    display: flex;
    align-items: center;
    column-gap: 5px;

    font-size: 14px;
  }
}

.comment::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  height: 1px;
  width: 100%;
  background: rgb(61, 59, 59);
}

.svg {
  &_like {
    width: 18px;
    height: 18px;
  }
}